{% extends 'base.html.twig' %}

{% block title %}Ajout d'un lieu{% endblock %}

{% block body %}
    {{ form_start(lieuForm) }}
    <button type="submit"  class="btn btn-primary ">Enregistrer</button>
    {{ form_end(lieuForm) }}
{% endblock %}
