{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
    {{ form_start(villeForm) }}
    <button type="submit"  class="btn btn-primary ">Enregistrer</button>
    {{ form_end(villeForm) }}
{% endblock %}
